*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
img{ 
    max-width: 100%; 
} 

.container{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.card{
    display: flex;
    position: relative;
}



.heroImage img{
    width: 800px;
    height: 350px;
    object-fit: cover;
   
}

.thumbnails{ 
    display: flex; 
    flex-direction: column;
} 

.thumbnails .thumb{ 

    height: 70px; 

} 

.navigator{ 
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 7.5%;
    height: 350px;
    flex-direction: column;
    padding: 7px 0;
} 

.thumb{
    filter: brightness(0.4);
}

.active{ 
    outline: 2px solid lightgrey;
    outline-offset: -2px;
    filter: none;
}


.fa-chevron-up, .fa-chevron-down {
    border-radius: 100%;
    background-color: lightgray;
    padding: 3px;
    margin: 0 -3px;
}

.placeDetails{
    text-align:end;
    position: absolute;
    bottom:10%;
    right: 20%;
    color:aliceblue

}